
.container {
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -32px;
}

.song-metadata {
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
    &>* {
        margin: 0;
        padding: 0;
        white-space: nowrap;
        overflow: clip;
        text-overflow: ellipsis;
        text-align: center;
        min-width: 90vw;
        max-width: 90vw;

    }

    .title {
        font-size: 64px;
        margin-bottom: 24px;
    }

    .album {
        font-size: 32px;
    }

    .artist {
        font-size: 32px;

    }

    .time {
        font-size: 32px;
    }

}

.song-controls {
    &>div {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 18vh;
        margin-bottom: 32px;
    }

    button {
        height: 25vh;
        width: 25vh;
    }
}

.icon {
    mask-size: cover;
    mask-position: center;
    background-color: var(--text-color);
    cursor: pointer;
    transition: 0.2s;

}