

.container {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;

    .section-header {
        display: flex;
        gap: 16px;
        align-items: center;
    }

    &>div {

    }

}