#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.song-metadata {
    &>* {
        margin: 0;
        padding: 0;
    }

    h1 {
        font-size: 64px;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 32px;
    }

}

.song-controls {
    &>div {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 48px;
        margin-bottom: 32px;
    }

    button {
        height: 64px;
        width: 64px;
    }
}

.icon {
    mask-size: cover;
    mask-position: center;
    background-color: var(--text-color);
    cursor: pointer;
    transition: 0.2s;;

    &:hover {
        background-color: var(--accent-color);
    }

}